name: Naming convention for pull request
on:
  pull_request:
    branches:
      - '*' 
    types: [edited, reopened, ready_for_review, synchronize, opened]

jobs:
  title_naming_convention:
    name: Check title naming convention
    runs-on: ubuntu-latest
    steps:
      - name: Check title convention
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: |
            if [[ "$TITLE" =~ ^(\[[^\]]*\])+[[:space:]](Feat|Fix|Hotfix|Chore):[[:space:]][[:alnum:][:space:]]+$ ]]
            then
              echo "Pull request title is following the convention" && exit 0
            else
              echo "Pull request title is not following the convention" && exit 1
            fi
  branch_naming_convention:
    name: Check branch naming convention
    runs-on: ubuntu-latest
    steps:
      - name: Check branch convention
        env:
          PULL_REQUEST_NAME: $GITHUB_REF_NAME
        run: |
          echo $PULL_REQUEST_NAME